.search-bar-filter-container {
  display: block;
  width: 100%;
  height: 100vh;
  background-color: white;
  position: absolute;
  z-index: 6;
  top: 0;
  transition: all 0.6s;
  box-shadow: 0 -0.125rem 0.625rem rgba(0, 0, 0, 0.2);
}

.search-bar-filter-cross-wrapper {
  width: 1.875rem;
  height: 1.875rem;
  margin-top: 1.25rem;
  margin-left: 1.25rem;
  position: relative;
  margin-bottom: 1.25rem;
}

.search-bar-filter-cross {
  width: 100%;
  height: 0.1875rem;
  background-color: black;
  position: absolute;
  border-radius: calc(1.875rem / 2);
}

.search-bar-filter-cross.cross-left {
  transform: translateY(calc(1.875rem / 2)) rotate(-45deg);
}

.search-bar-filter-cross.cross-right {
  transform: translateY(calc(1.875rem / 2)) rotate(45deg);
}

.search-bar-filter-content-wrapper {
  width: 100%;
  height: calc(100% - 4.375rem);
  overflow-y: scroll;
}

.search-bar-filter-scrollable-content {
  position: relative;
  width: 100%;
  height: auto;
  min-height: 100%;
}

.search-bar-filter-section-title {
  margin-top: 0;
}

.filter-checkbox-title {
  margin-left: 0.5rem;
}

.filter-form {
  text-align: left;
  margin: 1.25rem;
  margin-bottom: 0;
}

.filter-form input[type=checkbox] {
  vertical-align: 0.125rem;
  margin-bottom: 0.9375rem;
}

.filter-option-wrapper:last-of-type {
}

.filter-save-button {
  position: absolute;
  bottom: 1.25rem;
  right: 1.25rem;
  left: 1.25rem;
}
