.near-places-container {
  width: 100%;
  height: auto;
}

.near-places-inner-container {
  width: 100%;
  height: auto;
  padding-top: 3.75rem;
}

.near-places-map-wrapper {
  width: 21.25rem;
  height: 17.5rem;
  margin: 0.9375rem auto;
  margin-bottom: 1.25rem;
  overflow: hidden;
  border-radius: 0.9375rem;
  box-shadow: 0 0.125rem 0.625rem rgba(0, 0, 0, 0.2);
}
