.search-bar-container {
  width: 100%;
  height: auto;
  background-color: #00DE91;
  margin-bottom: 1.16rem;
}

.search-bar-filter-container.search-bar-filter-close {
  top: 100vh;
  height: 0;
  overflow: hidden;
}

.search-bar-textfield {
  margin: 1.16rem auto;
  margin-bottom: 0.625rem;
  margin-top: calc(3.75rem);
  min-width: calc(100% - (1.16rem * 2));
  box-shadow: 0 0.125rem 0.625rem rgba(0, 0, 0, 0.2);
}

.search-bar-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 7.5rem;
  height: 2.1875rem;
  border-radius: 0.3125rem;
  color: #002F37;
  background-color: rgba(255, 255, 255, 0.9);
}

.search-bar-button:first-of-type {
  margin-right: 0.625rem;
}

.search-bar-button-title {
  margin-top: 0.1875rem;
}

.search-buttons-wrapper {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 0.625rem;
  margin-right: 1.16rem;
  margin-left: 1.16rem;
  width: calc(100% - (1.16rem * 2));
}

.search-bar-line {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  height: 0.09375rem;
  margin-bottom: 0.625rem;
}

.search-bar-filter-text {
    margin-right: 0.625rem;
    color: white;
    width: calc(100% - (7.5rem * 2));
}

.search-button-section-wrapper {
  position: relative;
  width: calc(100% - (1.16rem * 2));
  margin: 0 1.16rem;
}
