.reviews-container {
  display: block;
  width: 100%;
  height: auto;
}

.reviews-read-more-button {
  margin-top: 1.25rem;
  cursor: pointer;
}

.reviews-container > .full-width-button{
  margin: 20px 0px;
}