.review-cell-container {
  width: auto;
  max-width: calc(100% - (1.25rem*2));
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: nowrap;
  padding: 0.625rem 1.25rem;
}

.review-cell-container:last-of-type {
  padding-bottom: 0;
}

.review-cell-user-image {
  width: 1.5625rem;
  height: 1.5624rem;
  margin-bottom: 0.3rem;
}

.review-cell-user-wrapper {
  width: 35%;
  max-width: 6.8rem;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  text-align: left;
}

.review-cell-user-name {
  display: block;
  font-size: 1.0625rem;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.review-cell-number-of-reviews {
  display: block;
  font-size: 0.875rem;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  cursor: pointer;
}

.review-cell-body-wrapper {
  background-color: #E5E5E5;
  min-height: 5.625rem;
  width: 65%;
  max-width: 13.5125rem;
  margin-right: 0;
  margin-left: 0.625rem;
  border-radius: 0.3125rem;
}

.review-cell-star-image {
  height: 0.9375rem;
  width: 0.9375rem;
  margin-left: 0.3125em;
}

.review-cell-star-image:first-of-type {
  margin-left: 0;
}

.review-cell-star-wrapper {
  padding: 0.9375em;
}

.review-cell-date {
  font-size: 0.875rem;
  opacity: 0.5;
  width: calc(100% - 8.75rem);
  padding: 0.9375em;
  padding-left: 0;
}

.review-cell-header-wrapper {
  display: flex;
  align-items: flex-start;
  text-align: right;
}

.review-cell-content-wrapper {
  width: calc(100% - (0.9375rem * 2));
  height: auto;
  max-height: calc(5.625rem * 2);
  padding: 0.9375rem;
  padding-top: 0;
  text-align: left;
  font-size: 0.875rem;
}

.review-report-text{
  color: rgba(0, 222, 145, 1);
}