.user-view .nav-bar-wrapper{
    background: linear-gradient(150deg, rgba(0, 222, 145, 1), rgba(0, 222, 145, 0.9));
}

.form-style-user{
    max-width:25rem;
    background:#fff;
    border-radius:0.125rem;
    padding:1.25rem;
}
.form-style-user ul{
    list-style:none;
    padding:0;
    margin: 3.75rem 0rem 0rem 0rem;
}
.form-style-user li{
    display: block;
    padding: 0.5625rem;
    border: 0.0625rem solid #DDDDDD;
    margin-bottom: 1.875rem;
    border-radius: 0.1875rem;
}
.form-style-user li:last-child{
    border:none;
    margin-bottom: 0rem;
    text-align: center;
}
.form-style-user li > label{
    display: block;
    float: left;
    margin-top: -1.875rem;
    background: #FFFFFF;
    height: 1.125rem;
    padding: 0.125rem 0.3125rem 0.125rem 0.3125rem;
    color: #B9B9B9;
    font-size: 16px;
    overflow: hidden;
}
.form-style-user input[type="text"],
.form-style-user input[type="email"],
.form-style-user input[type="url"],
.form-style-user input[type="password"]
{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 100%;
    display: block;
    outline: none;
    border: none;
    height: 2.1875rem;
    line-height: 1.5625rem;
    font-size: 0.875rem;
    padding: 0;
}
.form-style-user input[type="text"]:focus,
.form-style-user input[type="email"]:focus,
.form-style-user input[type="url"]:focus,
.form-style-user input[type="password"]:focus
{
}
.form-style-user li > span{
    background: #F3F3F3;
    display: block;
    padding: 3px;
    margin: 0 -0.5625rem -0.5625rem -0.5625rem;
    text-align: center;
    color: #C0C0C0;
    font-size: 0.6875rem;
}
.form-style-user input[type="submit"],
.form-style-user input[type="button"]{
    background: linear-gradient(150deg, rgba(0, 222, 145, 1), rgba(0, 222, 145, 0.9));
    border: none;
    font-size: 0.9375rem;
    padding: 0.8125rem 2.5rem;
    border-radius: 1.25rem;
    color: white;
}
.form-style-user input[type="submit"]:hover,
.form-style-user input[type="button"]:hover{
    cursor: pointer;
}

.user-input-disabled{
    color: #909090;
    background-color: white !important;
}

.isa_success {
    color: #4F8A10;
    background-color: #DFF2BF;
    font-size: 14px;
    margin: 10px 0px;
    padding:12px;
    display: none;
    text-align: left;
    position: relative;
}
.isa_error {
    color: #D8000C;
    background-color: #FFD2D2;
    font-size: 14px;
    margin: 10px 0px;
    padding:12px;
    display: none;
    text-align: left;
    position: relative;
}
#account-success a, #account-error a, #account-pre-error a{
    position: absolute;
    text-decoration: none;
    cursor: pointer;
    top: 3px;
    right: 10px;
}