.place-features-form-button {
    margin-bottom: 0.35rem;
}

.place-features-form-add-button {
    cursor: pointer;
    color: deepskyblue;
}

.place-features-form-add-button-container {
    text-align: right;
    margin-bottom: 1.0em;
    margin-right: 0.35em;
}
