.nav-bar-wrapper {
    width: 100%;
    height: 3.75rem;
    background-color: transparent;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.25rem;
    position: absolute;
    z-index: 5;
}

.hamburguer, .hamburguer-transform{
    position: absolute;
    left: 1.25rem;
    top: 0.875rem;
    cursor: pointer;
    height: 1.5625rem;
    width: 1.875rem;
}

.hamburguer .menu-icon{
    position: absolute;
    top: 0.625rem;
    left: 0rem;
    transform: rotate(180deg);
}

.hamburguer .menu-icon1{
    position: absolute;
    top: 1.125rem;
    left: 0rem;
}

.hamburguer .menu-icon, .hamburguer .menu-icon1 {
    transition: all 0.4s ease-in-out;
}

.hamburguer-transform .menu-icon{
    transform: rotate(-45deg);
    position: relative;
    transition: all 0.4s ease-in-out;
    top: -4px
}
.hamburguer-transform .menu-icon1{
    transform: rotate(45deg);
    position: absolute;
    left: 1px;
    top: 14px;
    transition: all 0.4s ease-in-out;
}
