.full-width-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 1.25rem;
  background-color: #00DE91;
  min-height: calc(3.125rem - (0.625rem * 2));
  width: auto;
  color: white;
  width: calc(100% - 2.5rem);
  max-width: calc(100% - (1.25rem * 4));
  padding: 0.625rem 1.25rem;
  border-radius: 0.3125rem;
  margin-left: 1.25rem;
  margin-right: 1.25rem;
  text-decoration: none;
}

.full-width-button-text {
  margin-top: 0.35rem;
}
