body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.PraxisNext-Light {
	font-family: PraxisNext-Light;
	font-weight: normal;
	font-style: normal;
}
.PraxisNext-Italic {
	font-family: PraxisNext-Italic;
	font-weight: normal;
	font-style: normal;
}
.PraxisNext-MediumItalic {
	font-family: PraxisNext-MediumItalic;
	font-weight: normal;
	font-style: normal;
}
.PraxisNext-LightItalic {
	font-family: PraxisNext-LightItalic;
	font-weight: normal;
	font-style: normal;
}
.PraxisNext-SemiBoldItalic {
	font-family: PraxisNext-SemiBoldItalic;
	font-weight: normal;
	font-style: normal;
}
.PraxisNext-Medium {
	font-family: PraxisNext-Medium;
	font-weight: normal;
	font-style: normal;
}
.PraxisNext-HeavyItalic {
	font-family: PraxisNext-HeavyItalic;
	font-weight: normal;
	font-style: normal;
}
.PraxisNext-Regular {
	font-family: PraxisNext-Regular;
	font-weight: normal;
	font-style: normal;
}
.PraxisNext-SemiBold {
	font-family: PraxisNext-SemiBold;
	font-weight: normal;
	font-style: normal;
}
.PraxisNext-Bold {
	font-family: PraxisNext-Bold;
	font-weight: normal;
	font-style: normal;
}
.PraxisNext-BoldItalic {
	font-family: PraxisNext-BoldItalic;
	font-weight: normal;
	font-style: normal;
}
.PraxisNext-Black {
	font-family: PraxisNext-Black;
	font-weight: normal;
	font-style: normal;
}
.PraxisNext-BlackItalic {
	font-family: PraxisNext-BlackItalic;
	font-weight: normal;
	font-style: normal;
}
.PraxisNext-ExtraBlackItalic {
	font-family: PraxisNext-ExtraBlackItalic;
	font-weight: normal;
	font-style: normal;
}
.PraxisNext-Heavy {
	font-family: PraxisNext-Heavy;
	font-weight: normal;
	font-style: normal;
}
.PraxisNext-ExtraBlack {
	font-family: PraxisNext-ExtraBlack;
	font-weight: normal;
	font-style: normal;
}
.PraxisNext-UltraItalic {
	font-family: PraxisNext-UltraItalic;
	font-weight: normal;
	font-style: normal;
}
.PraxisNext-Ultra {
	font-family: PraxisNext-Ultra;
	font-weight: normal;
	font-style: normal;
}
